<h2>HomeWork-2</h2>
<app-card
  name="Card name"
  number="0000 0000 0000 0000"
  amount="4989,33₽"
  expirationDate="02/33"
  paymentSystem="mastercard"
></app-card>
<br>

<h2>HomeWork-3</h2>
<div>
  <p [appAttribute]="attributes">
    Text with a changeable attribute!
  </p>
  <button (click)="onClick()">
    Change attribute!
  </button>
</div>
<br>

<h2>HomeWork-4</h2>
<div>
  {{ 24637423.123 | formatNumber:'ru-RU' }}
  <br>
  {{ 24637423.123 | formatNumber:'en-US' }}
</div>
<br>

<h2>HomeWork-5</h2>
<div>
  <p>Timer</p>
  <output id="timer-output"></output>
</div>
<br>